{% extends "staff/base.html" %}

{% block title %}
Manage Trek
{% endblock %}

{% block content %}

<div class="container-fluid">

    <!-- Page Title -->
    <h2 class="fw-bold mb-4">
        {{this_trek.name}}
    </h2>

    <!-- Trek Information -->
    <div class="card shadow-sm border-0 mb-4">

        <div class="card-body">

            <h5 class="fw-bold mb-4">
                Trek Information
            </h5>

            <div class="row">

                <!-- Left Side -->

                <div class="col-md-6">

                    <div class="row mb-3">
                        <div class="col-4 fw-semibold">
                            Location
                        </div>
                        <div class="col-8">
                            {{this_trek.location}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-4 fw-semibold">
                            Duration
                        </div>
                        <div class="col-8">
                            {{this_trek.duration_days}}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-4 fw-semibold">
                            Start Date
                        </div>

                        <div class="col-8">
                            {{this_trek.start_date.date()}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 fw-semibold">
                            End Date
                        </div>

                        <div class="col-8">
                            {{this_trek.end_date.date()}}
                        </div>
                    </div>

                </div>

                <!-- Right Side -->

                <div class="col-md-6">
                    <form action="/staff/update_trek/{{this_trek.id}}" method="post">
                        <div class="row mb-3">

                            <div class="col-5 fw-semibold">
                                Total Slots
                            </div>

                            <div class="col-7">

                                <input
                                    type="number"
                                    class="form-control"
                                    name="total_slots"
                                    value="{{this_trek.total_slots}}">

                            </div>

                        </div>

                        <div class="row mb-3">

                            <div class="col-5 fw-semibold">
                                Available Slots
                            </div>

                            <div class="col-7">

                                <input
                                    type="number"
                                    class="form-control"
                                    name="avl_slots"
                                    value="{{this_trek.avl_slots}}">

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-5 fw-semibold">
                                Status
                            </div>

                            <div class="col-7">

                                <select class="form-select" name="status">

                                    <option {% if this_trek.status=="open"%}selected{% endif %} value="open">
                                        Open
                                    </option>

                                    <option {% if this_trek.status=="closed"%}selected{% endif %} value="closed">
                                        Closed
                                    </option>

                                    <option {% if this_trek.status=="completed"%}selected{% endif %} value="Completed">
                                        Completed
                                    </option>

                                </select>

                            </div>

                        </div>
                        <br>
                        <div class="text-end">
                            <button type="submit" class="btn btn-success px-4">
                                <i class="bi bi-check-circle me-1"></i> Update Trek
                            </button>
                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>

    <!-- Participants -->

    <div class="card shadow-sm border-0">

        <div class="card-body">

            <h5 class="fw-bold mb-3">

                Participants ({{bookings.__len__()}})

            </h5>

            <table class="table table-hover align-middle">

                <thead class="table-light">

                <tr>

                    <th>User Name</th>
                    <th>Email</th>
                    <th>Booking Date</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>

                </thead>

                <tbody>
                {% for booking,user,trek in bookings %}
                <tr>

                    <td>{{user.name}}</td>

                    <td>{{user.email}}</td>

                    <td>{{booking.booking_date.date()}}</td>

                    <td>
                        <span class="badge bg-success">
                            {{booking.status}}
                        </span>
                    </td>
                    <td class="text-center">

                        <a href="/cancel/booking/{{ booking.id }}"
                           class="btn btn-outline-primary btn-sm px-3">

                            Cancel

                        </a>

                    </td>

                </tr>

                {% endfor %}

    
                </tbody>

            </table>

            <div class="mt-4">
                <a href="/mark_started/{{this_trek.id}}">
                <button class="btn btn-outline-primary px-4 me-3">
                    Mark as Started
                </button>
                </a>

                <a href="/mark_completed/{{this_trek.id}}">
                <button class="btn btn-outline-success px-4">
                    Mark as Completed
                </button>
                </a>
            </div>

        </div>

    </div>

</div>

{% endblock %}