{% extends "admin/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

 <div class="card shadow-sm border-0">

        <div class="card-body">

            <h2 class="fw-bold mb-4">Add New Trek</h2>

            <form action="/trek/add" method="post">

                <div class="row">

                    <!-- Left Column -->
                    <div class="col-md-6">

                        <div class="mb-3">
                            <label class="form-label">Trek Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Location</label>
                            <input type="text" name="location" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" name="price" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Difficulty</label>

                            <select name="difficulty" class="form-select">
                                <option selected>Select Difficulty</option>
                                <option value="easy">Easy</option>
                                <option value="moderate">Moderate</option>
                                <option value="hard">Hard</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Duration (Days)</label>
                            <input type="number" name="duration" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Total Slots</label>
                            <input type="number" name="total_slots" class="form-control">
                        </div>

                    </div>

                    <!-- Right Column -->

                    <div class="col-md-6">

                        <div class="mb-3">
                            <label class="form-label">Start Date</label>
                            <input type="date" name="start_date" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">End Date</label>
                            <input type="date" name="end_date" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Assign Staff</label>

                            <select name="staff" class="form-select">
                                <option selected>Select Staff</option>
                                {% for s in ex_staff %}
                                {% if s.approval_status!="blacklisted" and s.approval_status!="pending" %}
                                <option value="{{s.id}}">{{s.user.name}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Status</label>

                            <select name="status" class="form-select">
                                <option selected>Select Status</option>
                                <option value="open">Open</option>
                                <option value="closed">Closed</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description</label>

                            <textarea
                                name="desc"
                                rows="4"
                                class="form-control"
                            ></textarea>
                        </div>

                    </div>

                </div>

                <div class="text-end mt-4">

                    <button
                        type="reset"
                        class="btn btn-outline-secondary px-4 me-2">
                        Cancel
                    </button>

                    <button
                        type="submit"
                        class="btn btn-primary px-5">
                        Save
                    </button>

                </div>

            </form>

        </div>

    </div>

{% endblock %}